/*
 * Complete Color Palette
 *
 * create a better user experience using a color scheme 
 * that uniform the user interface elements across the entire site
 *
 * most common color palettes define between 4 to 9 colors
 *
 * */

 /*
 * Palette based on the whole site
 * */
.color0 {
  color: #fff;
}

.color1 { /*Used in main title of each pages as well as many borders, backgrounds and sub titles*/
  color: #069;
}

.color2 { /*Links color*/
  color: #006;
}

.color3 { /*Visited links color*/
  color: #039;
}

.color4 { /*Plain text color, used mainly in descriptions*/
  color: #333;
}

.color5 {/*Used in sub links (i.e: links about category and place in search result lists) and other subtitles*/
   color: #8b8b8b;
}

.color6 { /*Used for highlighted items like prices and special links*/
  color: #f60;
}