/*
 * Only layout styles 
 * Struture, sizes and behavior
 */

body {
  /* 
   * TODO: fixed max vs 100% width 
   */
  margin: auto;
  max-width: 1008px;
}
/*areas*/

.header {
  margin-top: 10px;
}
#main_title {
  margin-top: 5px;
  border-top: 2px solid #069;
  background-color: #CFEEF8;
  text-align: center;
}
#main_title h1 {font-size:16px; font-weight:bold; margin-bottom:3px;}
#container {} #container_more {}
/*suggestion area in index page*/

.footer {
  margin-bottom: 10px; margin-top: 10px;
}
/*sub areas*/

#logo {
  float: left;
  width: 50%;
}
#logo img{
  max-width: 160px;
  max-height: 42px;
}
.btn_register {
float: left;
}
.btn_addfree {
  float: right !important;
}
#searcharea_index { margin:0px; width:100%; height:300px; overflow:hidden;}
#menucat {padding: 0px; border:0; text-align:center;}
.cat_menu {width:100%; float:left; margin:auto; border:1px solid #ccc; padding-top:10px; padding-bottom:10px; color:#006; font-weight:bold; font-size:14; }
#suggestion_list {} #banner1 {
  border: 1px solid #006;
  height: auto;
  width: 100%;
  margin-bottom: 10px;
}
#banner2 {
  border: 1px solid #006;
  height: auto;
  width: 100%;
  margin-bottom: 10px;
}
#footer_title {
  border: 1px solid #006;
  border-radius: 3px;
  background-color: #CFEEF8;
  text-align: center;
  padding: 5px;
}
#ftlinksleft {
  float: left;
  text-align: left;
}
#ftlinksrigt {
  float: right;
  text-align: right;
}
/*specific position*/
.cleft {  float: left !important; }
.col.cleft {margin-left:0px;}
.cright {   float: right !important; }
/*sub segments on header*/

#btn_reg {} #btn_add {}
/*sub segments on main container in index*/

.bigsearchbox {
  background-color: transparent;
  margin: auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  height:40px;
}
#searchform { width:98%; margin:auto;}
.opselect {
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: hidden;
  padding-top: 7px;
  padding-bottom:7px;
  width: 25%;
  box-shadow: none;
  background-color: #DEDEDE;
}
.opselect select:focus {
  outline: none;
}
#txtsearch {
  width: 40%;
  border: 1px solid #ccc;
  padding: 8px;
}
#btnsearch { width:25%;}
.social_area { margin-left:30%;}
.catmenu {} .suggestion {
  width: 30%;
  float: left;
  height: 80px;
  margin: 10px;
}
.menuimg { display: none;}
/*classes and identifiers of suggestions segment*/
#sugpages {text-align:right; width:95%; margin:5px;}

/*classes and identifiers in results list page*/
#restulttxt { text-align:left;}
.ad728x90 { width:98%; height:90px; border: 1px solid #009; overflow: hidden;}
#adhndown, #adrlup, #adrldown, #adrlmiddle, #addtup, #addtdown { text-align:center; margin:auto; }
#adrlmiddle {margin-top:10px; margin-bottom:10px;}
#addthisrl { text-align:left;}
#linktospservice { text-align:left;}
.pagination {margin:10px;}
.page { padding:5px; border:1px solid #ccc;  color: #fff; }
.page.current { background-color: #009; }
.page.active { background-color: #069; }
#adstyle {padding:10px;}
.adtitle, .pricest { font-weight:bold; font-size:14px; margin-bottom:3px; margin-top:5px;}
.adtitle { color:#006; text-align:left; float:left;}
.pricest { color:orange; text-align:right; float:right;}
.location { color:#ccc; font-size:11px; text-align:left;}
.desctxt { color:#006; font-size:12px; text-align: justify;}
.details { text-align:left;}
.details span { width:25%; margin:5px;}
.details span label { font-weight:bold;}
.mainimg img { margin-right:5px; }
.markers ul {list-style: none;margin: 0; padding: 0;overflow: hidden;}
.markers ul li { float: left;}
.markers ul li a { display: block; padding: .3em;text-decoration: none;}
.markers {width:100%; float:right;}
.markers .wrequestinfo {width:80%; text-align:left; margin-top:5px;}
.markers.wmap, .markers.wvideo {width:10%;}
.wrequestinfo  {
    background-image: url("http://static02.inmomexico.com/sprites-head.png");
    background-position: 0 -119px;
    background-repeat: no-repeat;
    color: #006;
    font-size: 12px;
    padding-left: 20px;
    text-decoration: none;
}
.wvideo {
    background-image: url("http://static02.inmomexico.com/features.png");
    background-position: 0 -70px;
    background-repeat: no-repeat;
    color: #04118f;
    font-size: 12px;
    font-weight: 700;
    height: 25px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-top: 3px;
    width: 25px;
}
.wmap {
    background-image: url("http://static02.inmomexico.com/features.png");
    background-position: 0 -35px;
    background-repeat: no-repeat;
    color: #04118f;
    font-size: 12px;
    font-weight: 700;
    height: 25px;
    padding-bottom: 8px;
    padding-left: 25px;
    padding-top: 5px;
    width: 25px;
}
#resultlist hr { color:#ccc; margin:0px;  }

.nav ul li { list-style:none;}
@media only screen and (max-width: 960px) {
  /*banner areas change of dimensions according to the screen size*/
  #banner1,
  #banner2 {
    height: 90px;
  }
  .span_3_of_12, .span_9_of_12 { width:100%; }
  .cat_menu { width:32%; margin:auto; }
  .menuimg { display: block; height:80px; width:80px; margin:auto; }
  #menucat { margin-left:1%;}
}
@media only screen and (max-width: 700px) {
  /*particular breakpoint to join the buttons and the logo in the header*/
  #logo,
  .btn_register,
  .btn_addfree {
    width: 33%;
  }
  .bigsearchbox { height:80px;}
  #searcharea_index { height:160px;}
}
@media only screen and (max-width: 480px) {
  .suggestion {
    width: 100%;
    height: 40px;
    margin: 5px;
  }
  #ftlinksleft,
  #ftlinksrigt {
    float: none;
    text-align: center;
    width: 100%;
  }
  .bigsearchbox { height:80px;}
  #searcharea_index { height:160px;}
}
