/* CSS reset */
slidesearch ul {list-style:none; float:left;}
/* General Demo Style */
.slidesearch {background: #069;overflow:hidden; margin-top:10px;}
.slideshow,.slideshow:after {position: relative;left:0px;top:0px;width:1000px;height:200px;overflow:hidden;}
.slideshow li span {width:1000px;height: 200px;position: absolute;top: 0px;left: 0px;color: transparent;background-size: cover;background-position: 50% 50%;
background-repeat: none;opacity: 0;z-index: 0;-webkit-backface-visibility: hidden;-webkit-animation: imageAnimation 24s linear infinite 0s;
-moz-animation: imageAnimation 24s linear infinite 0s;-o-animation: imageAnimation 24s linear infinite 0s;
-ms-animation: imageAnimation 24s linear infinite 0s;animation: imageAnimation 24s linear infinite 0s;}
.slideshow li div {z-index: 1000;text-align: center;opacity: 0;-webkit-animation: titleAnimation 24s linear infinite 0s;
-moz-animation: titleAnimation 24s linear infinite 0s;-o-animation: titleAnimation 24s linear infinite 0s;
-ms-animation: titleAnimation 24s linear infinite 0s;animation: titleAnimation 24s linear infinite 0s;}
.slideshow li:nth-child(1) span { background-image: url(http://www.foto-gratis.es/photos/0-0/2007-10-20/Img01122008154461710800.jpg) }
.slideshow li:nth-child(2) span {background-image: url(http://www.foto-gratis.es/photos/0-0/2008-11-05/Img28112008170389223150.jpg);
-webkit-animation-delay: 6s;-moz-animation-delay: 6s;-o-animation-delay: 6s;-ms-animation-delay: 12s;animation-delay: 6s;}
.slideshow li:nth-child(3) span {background-image: url(http://www.foto-gratis.es/photos/0-0/2008-08-25/Img28112008174481341710.jpg);
-webkit-animation-delay: 12s;-moz-animation-delay: 12s;-o-animation-delay: 12s;-ms-animation-delay: 12s;animation-delay: 12s;}
.slideshow li:nth-child(4) span {background-image: url(http://www.foto-gratis.es/photos/0-0/2007-11-01/Img28112008171047565960.jpg);
-webkit-animation-delay: 18s;-moz-animation-delay: 18s;-o-animation-delay: 18s;-ms-animation-delay: 18s;animation-delay: 18s;}
.slideshow li:nth-child(2) div {-webkit-animation-delay: 6s;-moz-animation-delay: 6s;-o-animation-delay: 6s;-ms-animation-delay: 6s;animation-delay: 6s;}
.slideshow li:nth-child(3) div {-webkit-animation-delay: 12s;-moz-animation-delay: 12s;-o-animation-delay: 12s;-ms-animation-delay: 12s;animation-delay: 12s;}
.slideshow li:nth-child(4) div {-webkit-animation-delay: 18s;-moz-animation-delay: 18s;-o-animation-delay: 18s;-ms-animation-delay: 18s;animation-delay: 18s;}
/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation {
0% { opacity: 1; -webkit-animation-timing-function: ease-in;}
8% { opacity: 1; -webkit-transform: scale(1.05); -webkit-animation-timing-function: ease-out; }
17% { opacity: 1; -webkit-transform: scale(1.1); }
25% { opacity: 0; -webkit-transform: scale(1.1); }
100% { opacity: 1 }
}

@-moz-keyframes imageAnimation {
0% { opacity: 1; -moz-animation-timing-function: ease-in; }
8% { opacity: 1; -moz-transform: scale(1.05); -moz-animation-timing-function: ease-out; }
17% { opacity: 1; -moz-transform: scale(1.1); }
25% { opacity: 0; -moz-transform: scale(1.1); }
100% { opacity: 1 }
}

@-o-keyframes imageAnimation {
0% { opacity: 0; -o-animation-timing-function: ease-in; }
8% { opacity: 1; -o-transform: scale(1.05); -o-animation-timing-function: ease-out; }
17% { opacity: 1; -o-transform: scale(1.1); }
25% { opacity: 0; -o-transform: scale(1.1); }
100% { opacity: 1 }
}

@-ms-keyframes imageAnimation {
0% { opacity: 1; -ms-animation-timing-function: ease-in; }
8% { opacity: 1; -ms-transform: scale(1.05); -ms-animation-timing-function: ease-out; }
17% { opacity: 1; -ms-transform: scale(1.1); }
25% { opacity: 0; -ms-transform: scale(1.1); }
100% { opacity: 1 }
}

@keyframes imageAnimation {
0% { opacity: 0; animation-timing-function: ease-in; }
8% { opacity: 1; transform: scale(1.05); animation-timing-function: ease-out; }
17% { opacity: 1; transform: scale(1.1); }
25% { opacity: 0; transform: scale(1.1); }
100% { opacity: 1 }
}

/* Animation for the title */
@-webkit-keyframes titleAnimation {
0% { opacity: 1; -webkit-transform: translateY(200px); }
8% { opacity: 1; -webkit-transform: translateY(0px); }
17% { opacity: 1; -webkit-transform: scale(1); }
19% { opacity: 0 }
25% { opacity: 0; -webkit-transform: scale(10); }
100% { opacity: 1 }
}

@-moz-keyframes titleAnimation {
0% { opacity: 0; -moz-transform: translateY(200px); }
8% { opacity: 1; -moz-transform: translateY(0px); }
17% { opacity: 1; -moz-transform: scale(1); }
19% { opacity: 0 }
25% { opacity: 0; -moz-transform: scale(10); }
100% { opacity: 1 }
}

@-o-keyframes titleAnimation {
0% { opacity: 1; -o-transform: translateY(200px); }
8% { opacity: 1; -o-transform: translateY(0px); }
17% { opacity: 1; -o-transform: scale(1); }
19% { opacity: 0 }
25% { opacity: 0; -o-transform: scale(10); }
100% { opacity: 1 }
}

@-ms-keyframes titleAnimation {
0% { opacity: 1; -ms-transform: translateY(200px); }
8% { opacity: 1; -ms-transform: translateY(0px); }
17% { opacity: 1; -ms-transform: scale(1); }
19% { opacity: 0 }
25% { opacity: 0; -webkit-transform: scale(10); }
100% { opacity: 1 }
}

@keyframes titleAnimation {
0% { opacity: 1; transform: translateY(200px); }
8% { opacity: 1; transform: translateY(0px); }
17% { opacity: 1; transform: scale(1); }
19% { opacity: 0 }
25% { opacity: 0; transform: scale(10); }
100% { opacity: 1 }
}

@media only screen and (max-width: 700px) {
  /*particular breakpoint to join the buttons and the logo in the header*/
  .slideshow,.slideshow:after {height:120px;}
  .slideshow li span {height:120px;}
}

@media only screen and (max-width: 480px) {
  .slideshow,.slideshow:after {height:80px;}
  .slideshow li span {height:80px;}
}