body {
  /* padding: 0 1em; */
  margin: 0 1em;
  font: 100%/1.4'Helvetica Neue', arial, helvetica, helve, sans-serif;
}
.col {
  background-color: #f5f5f5;
  padding: 1em 0;
  text-align: center;
}
.section {
  /*background-color: #fefefe;*/
}
/*  GO FULL WIDTH AT LESS THAN 960 PIXELS */

@media only screen and (max-width: 960px) {
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
}
