<div class="col span_9_of_12">
    <div class="section group">Migas de pan</div>
    <div class="section group ad728x90" id="addtup">Anuncio de google</div>
    <div class="section group">
        <div class="col span_7_of_12">aqui va la galeria de imagenes videos</div>
        <div class="col span_5_of_12">aqui van los detalles elementales del anuncio</div>
    </div>
    <div class="section group">
        <div class="col span_6_of_12 cleft">
            Titulo: {{ prop.title }}
        </div>
        <div class="col span_6_of_12 cright" style="width:336px; height:280px; border:1px solid #009;">Anuncio google
        </div>
    </div>
    <div class="section group">Formulario de contactenos</div>
    <div class="section group ad728x90" id="adhndown">Anuncio de google</div>
</div>