<div class="section group" id="adstyle">
    <div class="group">
        <div class="adtitle"><a href="details.html?idproperty={{ property.idproperty }}">{{ property.title }}</a></div>
        <div class="pricest">
            {% ifequal property.currency 24 %}{{ currency_24 }}{% else %}{{ currency_23 }}{% endifequal %}
            {% if property.rent_price > 0 %}{{ property.rent_price }}{% else %}{{ property.sale_price }}{% endif %}
        </div>
    </div>
    <div class="group">
        <div class="cleft mainimg">
            <img src="{{ property.photos }}">
        </div>
        <div>
            <div class="location">Las Alamedas, Atizapan de Zaragoza, Edo. Mexico</div>
            <div class="desctxt">{{ property.description|truncatechars:200 }} (Ver Mas)
            </div>
            <div class="details">
                {% if not property.at == "" %}
                <span><label>Area del Terreno:</label>
                    {{ property.at }}
                </span>
                {% endif %}
                {% if not property.ac == "" %}
                <span><label>Area de Construccion:</label> {{ property.ac }}</span>
                {% endif %}
                {% if property.bedrooms > 0 %}
                <span><label>Habitaciones:</label> {{ property.bedrooms }}</span>
                {% endif %}
                {% if property.bathrooms > 0 %}
                <span><label>Banos:</label> {{ property.bedrooms }}</span>
                {% endif %}
            </div>
            <div class="markers">
                <ul>
                    <li class="wrequestinfo">Solicitar mas informacion</li>
                    <li class="wmap"></li>
                    <li class="wvideo"></li>
                </ul>
            </div>
        </div>
    </div>
</div>