<div class="footer">
  {% block footercontent %}
  <div class="section group" id="footer_title">
    Bienes Raices Peru - InmoPeru &reg;
  </div>
  <div id="ftlinksleft">
    <p><a href="">Contactenos</a></p>

    <p><a href="">Acerca de Nosotros</a></p>

    <p><a href="">Condiciones de Uso</a></p>

    <p><a href="">Politicas de Privacidad</a></p>
  </div>
  <div id="ftlinksrigt">
    <p><a href="">Agencias de bienes raices en Peru</a></p>

    <p><a href="">InmoMundo, el blog inmobiliario</a></p>
  </div>
  {% endblock %}
</div>
