{% load staticfiles %}
<div class="header group">
    {% block headercontent %}
    <div class="section group">
        {% block logo %}
        <div id="logo">
            <a href="/"> <img src="{% static 'img/wireframes/white-image.png' %}"></a>
        </div>
        {% endblock %}
        <div class="btn_register">
            <a class="button blue" id="btn_reg">Registrarse / Entrar</a>
        </div>
        <div class="btn_addfree">
            <a class="button orange" id="btn_add">Anunciese Gratis</a>
        </div>
    </div>
    <div class="section group" id="main_title">
        {% block maintitle %}
        <h1>{{ metatitle }}</h1>
        {% endblock %}
    </div>
    {% endblock %}
</div>