{% load staticfiles %}
<div class="section group">
    <div class="col span_9_of_12 cright">
        <div class="slidesearch" id="searcharea_index">
            <ul class="slideshow">
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
            </ul>
            <div class="bigsearchbox">
                <div id="searchform">
                    <form method="post">
                        <select name="im_va" class="opselect">
                            <option value="0">Venta</option>
                            <option value="1">Alquiler</option>
                        </select>
                        <input type="text" name="im_q" placeholder="Buscar" value="" id="txtsearch"/>
                        <input type="submit" name="searchbtn" value="Buscar" class="button blue" id="btnsearch"/>
                    </form>
                </div>
            </div>
            <div class="social_area">
                <div class="addthis_toolbox addthis_default_style addthis_20x20_style">
                    <a class="addthis_counter_facebook"></a>
                    <a class="addthis_counter_twitter"></a>
                    <a class="addthis_counter_pinterest_share"></a>
                    <a class="addthis_counter_linkedin"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col span_3_of_12 cleft" id="menucat">
        {% for item in mcategories %}
        {% for cat in menucat_in_index %}
        {% ifequal cat.0 item.id %}
        <div class="cat_menu"><a href="results.html"><img id="menucat{{ item.id }}_{{ cat.1 }}" class="menuimg">
            {{ item.name }} en {% ifequal cat.1 0 %}
            {{ op_0 }}
            {% else %}
            {{ op_1 }}
            {% endifequal %}</a></div>
        {% endifequal %}
            {% endfor %}
        {% endfor %}
        </ul>
    </div>
</div>