<div class="pagination">
    <span class="links">
        {% if page_obj.has_previous %}
            <a class="page active" href="/results.html?page={{ page_obj.previous_page_number }}"><<</a>
        {% endif %}
        <span class="page current">
            {{ page_obj.number }}
        </span>
        {% if page_obj.has_next %}
            <a class="page active" href="/results.html?page={{ page_obj.next_page_number }}">>></a>
        {% endif %}
    </span>
</div>
