<div class="col span_9_of_12 cright" id="resultlist">
    <div class="section group ad728x90" id="adrlup">Anuncio google arriba de la lista de resultados</div>
    <div class="section group" id="restulttxt">
        <label>El total de anuncios de la operacion, categoria y lugar de la lista</label>
    </div>
    <div class="section group" id="addthisrl">
        <div style="float:left">Compartir esta lista:</div>
        <div class="addthis_sharing_toolbox"></div>
    </div>
    <div class="section group" id="linktospservice">
        <a href="">Enlace a informacion de destacados para los sitios que admiten destacados</a>
    </div>
    {% if ad %}
    {% if is_paginated %}
    <div class="section group">{% include "_pages.html" %}</div>
    {% endif %}
    {%for property in ad %}
    {% include "_adinsrtlist.html" %}
    <hr/>
    {% endfor %}
    {% if is_paginated %}
    <div class="section group">{% include "_pages.html" %}</div>
    {% endif %}
    <!--pendiente de incluir el anuncio en de google en una posicion aleatoria entre el anuncio 5 y el 9 -->
    <!--<div class="section group ad728x90" id="adrlmiddle">Anuncio google en medio de la lista de resultados</div>
    <hr/>-->
    {% endif %}
    <div class="section group ad728x90" id="adrldown">Anuncio google arriba de la lista de resultados</div>
</div>