<div class="col span_3_of_12 cleft">
    {% block primarynav %}
    <div class="nav">
        {% block primarynavcontent %}
        <ul>
            <li><a href="#">Nav Link</a>
            </li>
            <li><a href="#">Nav Link</a>
            </li>
            <li><a href="#">Nav Link</a>
            </li>
            <li><a href="#">Nav Link</a>
            </li>
        </ul>
        {% endblock %}
    </div>
    {% endblock %}
    {%block banners%}
    <div id="banner1">banner yo busco</div>
    <div id="banner2">banner anunciese gratis</div>
    {% endblock%}
</div>
