<div class="col span_9_of_12 cright">
    <div class="" id="suggestion_list">
        {% for i in loop_times %}
        <div class="suggestion">Sugerencia {{ i }}</div>
        {% endfor %}
    </div>
    <div class="section group" id="sugpages">paginacion de sugerencias</div>
    <div class="section group ad728x90" id="addtdown">Anuncio de google</div>
</div>