{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>

  <title>{% block pagetitle %}{{ metatitle }}{% endblock %}</title>
  {% block metatags %}
  <meta charset="utf-8">
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <meta name="description" content="This is the Responsive Grid System, a quick, easy and flexible way to create a responsive web site.">
  <meta name="keywords" content="responsive, grid, system, web design">
  <meta name="author" content="www.grahamrobertsonmiller.co.uk">
  <meta http-equiv="cleartype" content="on">
  <link rel="shortcut icon" href="/favicon.ico">
  {% endblock %}

  {% block metamobile %}
  <!-- Responsive and mobile friendly stuff -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% endblock %}

  {% block likedcontent %}
  <!-- Stylesheets -->
  <link rel="stylesheet" href="{% static 'css/html5reset.css' %}" media="all">
  <link rel="stylesheet" href="{% static 'css/col.css' %}" media="all">
  <link rel="stylesheet" href="{% static 'css/12cols.css' %}" media="all">
  <!-- Unified Style Sheet -->
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" media="all">
  {% endblock %}

  {% block customstyles %}
  <style type="text/css">
    body {
      padding: 2em;
      font: 100%/1.4'Helvetica Neue', arial, helvetica, helve, sans-serif;
    }
    .col {
      background: #ccc;
      padding: 1em 0;
      text-align: center;
    }
  </style>
  {% endblock %}

  {% block html5hacks %}
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
    </script>
    <![endif]-->
  <!-- Always force latest IE rendering engine & Chrome Frame -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  {% endblock %}
  {% block requiredscripts %}
  {% endblock %}
</head>

<body>

  {% block header %}
  {% include "_header.html"%}
  {% endblock %}

  {% block mainmenu %} {% endblock %}
  <div class="group">
    {% block main %}

    {% block maincontent %}
    {% endblock %}

    {% block mainsidebar %}
    {% endblock %}

    {% endblock %}
  </div>
  {% block footer %}
  {% include "_footer.html" %}
  {% endblock %}
</body>

</html>
