{% extends "base.html" %}
{% block pagetitle %}Detail page{% endblock %}
{% block customstyles %}
<style type="text/css">
    .col.span_3_of_12.cleft {
    margin-left:1.6%;
    }
</style>
{% endblock %}
{% block requiredscripts %}
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pub={{ addthis_account }}"></script>
{% endblock %}
{% block mainmenu %}{% endblock %}
{% block maincontent %}
{% include "_adinfo.html" %}
{% endblock %}
{% block mainsidebar %}
{% include "_sidebardt.html" %}
{% endblock %}
